:root {
  --clr-primary-100: hsla(0, 0%, 100%);
  --clr-primary-400: hsla(0, 0%, 59%);
  --clr-primary-900: hsla(209, 33%, 12%);
  
  --clr-accent-300: hsla(223, 100%, 88%);
  --clr-accent-400: hsla(223, 87%, 63%);
  
  --clr-neutral-400: hsla(354, 100%, 66%);
}